@import "tailwindcss";
@font-face {
    font-family: 'TheGodfather';
    src: url('../fonts/TheGodfather.ttf'),
}

@theme {
    --font-*:initial;
    --font-sans: TheGodfather, sans;
    --color-primary: #FBA038;
    --color-primary-dark: #E6832E;
}