@import "tailwindcss";

@font-face {
    font-family: 'LEMONMILK';
    src: url('../fonts/LEMONMILK.otf'),
}

@theme {
    --font-*: initial;
    --font-sans: LEMONMILK, sans;
    --color-primary: #5ebeff;
    --color-primary-dark: #0067ac;

    --color-primary-rgb: rgba(94, 190, 255, 0.3);
}

@layer styles {
    .bg-text-color {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  }