---
import X from "@/assets/x.svg";
import Instagram from "@/assets/instagram.svg";
---

<header
    class="header w-full h-30 bg-black p-10 flex text-white items-center fixed"
>
    <h1
        id="logo"
        class="logo text-white text-7xl justify-center items-center flex w-full h-full"
    >
    </h1>
    <div class="absolute flex right-0 gap-5 mr-5">
        <a target="_blank" href="www.google.com">
            <X class="h-8 w-8 hover:scale-125 transition" />
        </a>
        <a target="_blank" href="www.google.com">
            <Instagram class="h-8 w-8 hover:scale-125 transition" />
        </a>
    </div>
</header>
<style>
    .header {
        animation: header-scroll 1s linear both;
        animation-timeline: scroll();
        animation-range: 0px 200px;
    }
    @keyframes header-scroll {
        0% {
            background-color: transparent;
        }
        100% {
            background-color: black;
        }
    }
</style>
<script>
    const logo = document.getElementById("logo");
    let text = "";
    const fullText = "00B";
    let index = 0;

    function typeWriter() {
        if (index < fullText.length) {
            text += fullText.charAt(index);
            if (logo) {
                logo.textContent = text;
            }
            index++;
            setTimeout(typeWriter, 200);
        }
    }

    typeWriter();
</script>
