---
import X from "@/assets/x.svg";
import Logo from "@/assets/logo.svg";
import Instagram from "@/assets/instagram.svg";
---

<header
    class="header w-full h-10 bg-black p-10 flex text-white items-center fixed"
>
    <a target="_blank" href="www.google.com">
        <Logo class="h-12 w-12 transition" />
    </a>

    <div class="absolute flex right-0 gap-5 mr-5">
        <a target="_blank" href="www.google.com">
            <X class="h-8 w-8 hover:scale-125 transition" />
        </a>
        <a target="_blank" href="www.google.com">
            <Instagram class="h-8 w-8 hover:scale-125 transition" />
        </a>
    </div>
</header>

<style>
    .header {
        animation: header-scroll 1s linear both;
        animation-timeline: scroll();
        animation-range: 0px 200px;
    }
    @keyframes header-scroll {
        0% {
            background-color: transparent;
        }
        100% {
            background-color: black;
        }
    }
</style>
