---
import X from "@/assets/x.svg";
import Logo from "@/assets/logo.svg";
import Instagram from "@/assets/instagram.svg";
---

<header
    class="header w-full h-10 bg-black p-10 flex text-white items-center fixed z-50"
>
    <a target="_blank" href="www.google.com">
        <Logo id="logo" class="h-10 w-10" />
    </a>

    <div class="absolute flex right-0 gap-5 mr-5">
        <a target="_blank" href="www.google.com">
            <X class="h-7 w-7 hover:scale-125 transition" />
        </a>
        <a target="_blank" href="www.google.com">
            <Instagram class="h-7 w-7 hover:scale-125 transition" />
        </a>
    </div>
</header>

<script>
    const logo = document.getElementById("logo");
    logo.addEventListener("click", () => {
        window.location.href = "/";
    });
</script>

<style>
    .header {
        animation: header-scroll 1s linear both;
        animation-timeline: scroll();
        animation-range: 0px 200px;
    }
    @keyframes header-scroll {
        0% {
            background-color: transparent;
        }
        100% {
            background-color: black;
        }
    }
</style>
