<section class="bg-black h-screen">
    <article
        class="text-white bg-cover bg-center w-full h-screen items-center text-center p-40"
    >
        <h1 class="text-5xl">Jose Á. Perea García</h1>
        <h2 class="bg-text-color text-3xl mt-4 bg-gradient-to-l to-blue-400 from-blue-800">Software Engineer & Monkey Lover</h2>

        <p class="text-white text-sm mt-10 text-balance">Quien lea esto es gay, asi que cuidado.</p>
        <svg class="pathStyle"><path/></svg>
</article>
    <div
        class="absolute bottom-0 w-full h-50 bg-gradient-to-t from-white to-transparent"
    />
</section>

<style>
    .pathStyle {
        position: absolute;
        left: 43.5%;
        top: 30%;
        z-index: 1;
        fill: none;
    }

    .pathStyle path {
        stroke: white;
        width: 100%;
        height: 100%;
        top: -20%;
        left: -15%;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        animation: pathAnimation 10s ease-in-out both;
        d: path("M50,50 L80,50");
    }

    @keyframes pathAnimation {
        0% {
            stroke-dashoffset: 1000;
        }
        100% {
            stroke-dashoffset: 0;
        }
        
    }
</style>