---
import HeroImage from "@/assets/hero-burger.webp";
---

<section class="bg-black h-screen">
    <div
        class="text-white bg-cover bg-center w-full h-screen inline-block items-center justify-between p-30"
        style={`background-image: url(${HeroImage.src})`}
    >
        <h1 class="text-7xl">Taste your childhood...</h1>
        <h1 class="text-6xl">Just one bite...</h1>

        <h1 class="text-7xl justify-self-end mt-10">Prueba nuestra BOND</h1>
    </div>
    <div
        class="absolute bottom-0 w-full h-50 bg-gradient-to-t from-black to-transparent"
    >
    </div>
</section>
