<section class="bg-[rgb(0,0,0,0.2)] h-screen">
    <div
        class="absolute bg-[radial-gradient(circle,var(--color-primary-rgb)_10%,rgba(0,0,0,0)_80%)] w-full h-full z-1"
    >
    </div>
    <article
        class="text-white w-full h-screen items-center text-center p-20 z-2 absolute"
    >
        <h1 class="text-5xl mt-10">Jose Á. Perea García</h1>
        <h2
            class="bg-text-color text-3xl mt-4 bg-gradient-to-l to-primary from-primary-dark animate-gradient"
        >
            Software Engineer & Monkey Lover
        </h2>

        <p class="text-white text-sm mt-10 text-balance">
            <!-- <svg class="pathStyle"><path/></svg> -->
            Si pones infinitos monos a programar, obtendrias en algún momento Google
            Maps.
        </p>

        <div
            class="w-50 sm:w-100 mt-10 border-1 rounded-2xl bg-transparent p-5 text-left"
        >
            <p class="text-white text-xs text-balance">
                Hola, soy Jose Ángel Perea García, la persona mas maricona del
                mundo, aunque eso era antes de conocer a Paula, ella ha curado
                mi mariconería, y ahora soy muy feliz.
            </p>
        </div>

    <div class="absolute w-full h-full">
        <div class="absolute w-18 h-10 top-18 left-42 sm:top-20 sm:left-44.5 bg-white sm:rotate-12" id="movementArea">
            <img id="eyes" class="absolute pointer-events-none sm:rotate-180" src="/eyes.webp"></img>
        </div>
        <img id="me" class="absolute pointer-events-none" src="/me/1.png"></img>
    </div>
        
    </article>

    <!-- <div
        class="absolute bottom-0 w-full h-50 bg-gradient-to-t from-white to-transparent"
    >
    </div> -->
</section>

<script>
    const container = document.getElementById("movementArea");
    const image = document.getElementById("eyes");

    let targetX = 0;
    let targetY = 0;
    let currentX = 0;
    let currentY = 0;
    const easing = 0.1; // Ajusta este valor para controlar la suavidad del movimiento

    document.addEventListener("mousemove", (event) => {
        const rect = container.getBoundingClientRect();

        // Calcular las coordenadas relativas al contenedor
        targetX = event.clientX - rect.left - image.offsetWidth / 2;
        targetY = event.clientY - rect.top - image.offsetHeight / 2;

        // Limitar las coordenadas dentro del contenedor
        targetX = Math.max(0, Math.min(targetX, rect.width - image.offsetWidth));
        targetY = Math.max(0, Math.min(targetY, rect.height - image.offsetHeight));
    });

    function animate() {
        // Interpolar suavemente hacia las coordenadas objetivo
        currentX += (targetX - currentX) * easing;
        currentY += (targetY - currentY) * easing;

        // Actualizar la posición de la imagen
        image.style.left = currentX + "px";
        image.style.top = currentY + "px";

        requestAnimationFrame(animate);
    }

    animate();
</script>

<script>
    const me = document.getElementById("me");
    let currentImageIndex = parseInt(me.src.split('/').pop().split('.')[0]);

    setInterval(() => {
        currentImageIndex = currentImageIndex < 60 ? currentImageIndex + 1 : 1;
        me.src = `/me/${currentImageIndex}.png`;
    }, 50); // Change image every 1 second
</script>


<style>
    .animate-gradient {
        background-size: 200% 200%;
        animation: gradientAnimation 5s both infinite;
    }

    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .pathStyle {
        position: absolute;
        left: 43%;
        top: 30%;
        z-index: 1;
        fill: none;
    }

    .pathStyle path {
        stroke: white;
        width: 100%;
        height: 100%;
        top: -20%;
        left: -15%;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        animation: pathAnimation 10s ease-in-out both;
        d: path("M50,50 L80,50");
    }

    @keyframes pathAnimation {
        0% {
            stroke-dashoffset: 1000;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
</style>
